* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #fff01d;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

#destination-selection {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    height: 30px;
}

select, button {
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

select {
    margin-right: 10px;
}

button {
    background-color: #ffd31d;
    border: none;
    cursor: pointer;
}

#bus-timings {
    text-align: center;
}

#bus-table {
    width: 100%;
    border-collapse: collapse;
}

#bus-table th, #bus-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#bus-table th {
    background-color: #ffd31d;
}

.bus-img {
    max-width: 100px;
    height: auto;
}

footer {
    background-color: #ffd31d;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Additional styles for new columns */

#bus-table th:nth-child(4),
#bus-table td:nth-child(4),
#bus-table th:nth-child(5),
#bus-table td:nth-child(5) {
    width: 15%;
}

@media (max-width: 768px) {
    #bus-table th:nth-child(4),
    #bus-table td:nth-child(4),
    #bus-table th:nth-child(5),
    #bus-table td:nth-child(5) {
        width: auto;
    }
}

/* Add margin between the buttons */
.button-container button {
    margin-right: 10px; /* Adjust the margin as needed */
}
#preview-map {
    background-color: blue; /* Change the background color to blue */
    color: white; /* Change text color to contrast with the blue background */
}

#current-time {
    font-size: 1.0em; /* Adjust the font size as needed */
    padding: 10px; /* Add padding around the current time */
    background-color: #ffffff; /* Background color */
    color: #333; /* Text color */
    border-radius: 5px; /* Rounded corners */
    display: inline-block; /* Display as inline block */
}

